body {
    display: flex;
    flex-direction: column;
    height: 95vh;
    margin: 0;
    padding: 10px;
    background-color: #0e1525;
    color: antiquewhite;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-left {
    flex: 1;
}

.header-center {
    flex: 1;
    text-align: center;
}

.runBtn {
    font-size: 1.4rem;
    background-color: #044a10;
    color: #bfffca;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.runBtn:hover {
    background-color: #009118;
}

.row {
    width: 100%;
}

.editorarea {
    height: calc(95vh - 60px);
}

#masmoutput {
    background-color: black;
    color: white;
    padding: 10px;
}

.row,
.col-6,
#masmoutput,
.CodeMirror.cm-s-dracula {
    height: 100%;
    max-height: calc(95vh - 60px);
}

/* Define scrollbar styles for WebKit browsers (e.g., Chrome) */
/* Track */
::-webkit-scrollbar {
    width: 10px;
    /* Adjust scrollbar width */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #333;
    /* Adjust thumb background color */
    border-radius: 5px;
    /* Adjust thumb border radius */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Adjust thumb color on hover */
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #000;
    /* Adjust track background color */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
    background-color: #111;
    /* Adjust track color on hover */
}

/* Corner */
::-webkit-scrollbar-corner {
    background-color: #000;
    /* Adjust scrollbar corner background color */
}